<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
      <add key="GatewayRestUrl" value="https://vpwariapltfrm01:55051/gateway/service.svc/interop/rest/process"/>
      <add key="Automation" value="F" />
		<add key="MRN" value="11001234" />
		<add key="CourseId" value="C1" />
		<add key="PlanId" value="Test" />
	</appSettings>
</configuration>