<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="soap" messageEncoding="Mtom">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="varian">
                    <binaryMessageEncoding />
                    <httpsTransport authenticationScheme="Negotiate" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://vpwariapltfrm01:55051/Gateway/Service.svc/interop/soap"
                binding="basicHttpBinding" bindingConfiguration="soap" contract="IGateway"
                name="soap" />
            <endpoint address="https://vpwariapltfrm01:55051/Gateway/Service.svc/varian"
                binding="customBinding" bindingConfiguration="varian" contract="IGateway"
                name="varian">
                <identity>
                    <servicePrincipalName value="host/VPWARIAPLTFRM01.coh.org" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>